/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 may. 2022, 18:29:45
    Author     : dell
*/

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body{
    background: linear-gradient(120deg, #65098C, #E6B8FA);
    overflow: hidden;
    height: 100vh;
    }

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10x 15px rgba (0,0,0,0.05);   
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form.txt_field{
    position: relative;
    border-bottom: 2px solid silver;
    margin:30px 0;
}

.txt_field input{ 
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 14px;
    border: none;
    background: none;
    
}

::placeholder{
    color: #adadad;
}

/*
input[type=text] {
  background-color: #3CBC8D;
  color: white;
}Ponerle color al fondo en el placeholder (renglón)*/

.txt_field label{
    position: relative;
    top: 50%;
    left: 50px;
    color: #adadad;
    transform: translate (-50%);
    font-size: 16px;   
}

.pass{
    margin: 15px 0 20px 5px;
    color: #D61121;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #65098C;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color:#e6f4fb;
}

input [type ="submit"]:hover{
    border-color: #2691d9;
    background: green;
    transition: .5s;
}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup a{
    color: #2691d9;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top:50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label{
    top: -20px;
    color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before{
    width: 100%;
}